body {
  font: 12px sans-serif;
  margin: 0;
  padding: 5px;
  color: #888;
}
h1 {
  padding-left: 10px;
  margin-bottom: 2px;
  color: #333;
}
.source {
  padding-left: 10px;
}

.source a, .source a:hover {
  color: #888;
}

.label {
  font-size: 25px;
  font-weight: bold;
  color: #dedede;
  float: left;
}

svg {
  shape-rendering: crispEdges;
}

svg rect {
  cursor: pointer;
}

#info {
  margin-left: 10px;
  margin-top: 10px;
}

#filter {
  margin-left: 10px;
}

#popover {
  position: absolute;
  display: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

#popover #cause {
  font-weight: bold;
}

#match {
  font-size: 25px;
}

#agegroup {
  font-size: 15px;
}

#yearAxis {
  margin: auto;
  margin-top: 30px;
  width: 500px;
  text-align: center;
}

#yearAxis .description {
  font-weight: bold;
  margin-top: 5px;
}

#ageAxis {
  float: left;
  margin-top: 10px;
}

#ageAxis, #ageSlider {
   height: 330px;
}

#ageAxis #label {
  float: left;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  position: relative;
  top: 160px;
  font-weight: bold;
}

#ageSlider {
  margin-left: 0px;
  float: left;
}

#content {
  width: 800px;
  margin-left: 70px;
}
