
body {
  font: 12px sans-serif;
  margin: 0;
  padding: 5px;
  color: #888;
}
h1 {
  padding-left: 10px;
  margin-bottom: 2px;
  color: #333;
}
.source {
  padding-left: 10px;
}
.source a, .source a:hover {
  color: #888;
}
.label {
  font-size: 48px;
  font-weight: bold;
  color: #dedede;
  float: left;
}

.break {
  border-bottom: solid 1px #dedede;
  margin: 10px 15px 2px 15px;
  width: 545px;
}
.years, .controls {
  padding-top: 10px;
  padding-left: 15;
  width: 540;
  text-align: center;
  font-size: 12px;
}
.years span, .controls span {
  padding-left: 2px;
  padding-right: 2px;
}
.years .title {
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: 1;
}
.years a, .controls a {
  color: #888;
  text-decoration: none;
}
.years a.y1890 {
  color: #bbb;
}
.years a.active {
  color: #000;
}
.controls a {
  font-variant: small-caps;
  letter-spacing: 1;
  text-decoration: none;
}
.controls a:hover {
  color: #000;
  text-decoration: underline;
}
svg {
  shape-rendering: crispEdges;
}

#popover {
  position: absolute;
  display: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

#popover #cause {
  font-weight: bold;
}

#match {
  font-size: 25px;
}

#yearAxis {
  margin: auto;
  margin-top: 30px;
  width: 500px;
  text-align: center;
}

#yearAxis .description {
  font-weight: bold;
  margin-top: 5px;
}

#ageAxis {
  float: left;
  margin-top: 10px;
}

#ageAxis, #ageSlider {
   height: 330px;
}

#content {
  width: 800px;
  margin-left: 30px;
}
